<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="date" content="<%= date %>" />
  <title><%= title %></title>
  <link rel="stylesheet" href="/style/air.css" />
  <link rel="stylesheet" href="/style/article.css" />
  <link rel="stylesheet" href="//bucket2023.oss-cn-hangzhou.aliyuncs.com/css/highlight.agate.css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <% if (chart) { %>
  <script src="//bucket2023.oss-cn-hangzhou.aliyuncs.com/javascript/chart.js"></script>
  <% } %>
  <script async src="//www.googletagmanager.com/gtag/js?id=G-EHZ8V74593"></script>
  <script async src="//bucket2023.oss-cn-hangzhou.aliyuncs.com/javascript/qrcode.min.js"></script>
  <script async src="//bucket2023.oss-cn-hangzhou.aliyuncs.com/javascript/FileSaver.min.js"></script>
  <script src="//bucket2023.oss-cn-hangzhou.aliyuncs.com/javascript/Valine.min.js"></script>
  <script src="//bucket2023.oss-cn-hangzhou.aliyuncs.com/javascript/highlight.min.js"></script>
</head>

<body>
  <main id="content"><%- content %></main>
  <div class="shareicon"></div>
  <div class="qrcodes">
    <div>
      <img class="zhifubao" src="//bucket2023.oss-cn-hangzhou.aliyuncs.com/images/%E6%94%AF%E4%BB%98%E5%AE%9D.jpg" alt="支付宝" width="200" height="200" />
      <label style="font-size: small;">支付宝</label>
    </div>
    <div>
      <img class="wechat" src="//bucket2023.oss-cn-hangzhou.aliyuncs.com/images/%E5%BE%AE%E4%BF%A1%E6%94%B6%E6%AC%BE.jpg" alt="微信收款" width="200" height="200" />
      <label style="font-size: small;">微信</label>
    </div>
  </div>
  <p style="text-align: center; font-size: smaller; color: #777;margin-top: 4rem;">
    “觉得不错，买杯奶茶给作者吧”
  </p>
  <div id="vcomments"></div>
  <script src="/js/article.js"></script>
</body>

</html>